<div style="background-color: white;">
<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <!--<img
      class='profile-img'
      src='{{actor.img}}'
      data-edit='img'
      title='{{actor.name}}'
    />-->
    <div class='header-fields'>
     
    </div>
  </header>
  <div class="main-structure" style="padding-bottom:10px;">
      <div class="vitals-structure2 grid-1-sp3-1">
          {{> "systems/ad6_robotech/templates/sheets/partials/character-lieutenant-vitals.hbs"}}
      </div>  
      <div class="stress-structure grid-1-2-sp2">
                <div class="wounds-structure">
          {{> "systems/ad6_robotech/templates/sheets/partials/character-wounds.hbs"}}
        </div>
      </div>
      <div class="grid-2-2">
          <div style="display:grid; grid-template-columns: 90px 90px 90px">
            <div class="grid-1-1" style="display:block;">
              {{> "systems/ad6_robotech/templates/sheets/partials/hex-gen.hbs" hex0 }}    
            </div>
            <div class="grid-1-2" style="display:block">
              {{> "systems/ad6_robotech/templates/sheets/partials/hex-gen.hbs" hex1 }}    
              
            </div>
            <div class="grid-1-3" style="display:block">
              {{> "systems/ad6_robotech/templates/sheets/partials/hex-gen.hbs" hex2 }}       
            </div>
            <div class="grid-2-1" style="display:block;">
              {{> "systems/ad6_robotech/templates/sheets/partials/hex-gen.hbs" hex3 }}       
            </div>
            <div class="grid-2-2" style="display:block">
              {{> "systems/ad6_robotech/templates/sheets/partials/hex-gen.hbs" hex4 }}    
              
            </div>
            <div class="grid-2-3" style="display:block">
                 
            </div>
          </div>
      </div>
      <div class="grid-3-2">
        
      </div>
      <div class="grid-1-sp2-3">
        <img
      class='profile-img' width="150"
      src='{{actor.img}}'
      data-edit='img'
      title='{{actor.name}}'
    />
      </div>
  </div>

    
<div class="second-lieutenant">
  
<div class="grid-1-1" style="max-height: 300px; overflow-y:scroll; overflow-x: hidden;">
  <div class="nav-structure">
    <div class="nav-header grid-header">

        <nav class="sheet-tabs" style="border: 0px solid; " data-group="primary">
            <span style="padding-left: 95px"></span>
            <a class="item" data-tab="equipment"><strong>{{ localize "ad6_robotech.sheetText.equipment" }}</strong></a>
            <a class="item-create item" data-type="gear"><i class="fas fa-plus faiconcolor"></i></a>
            <a class="item-create item" data-type="equipmentsuite"><i class="fas fa-plus faiconcolor"></i></a>

        </nav>

    </div>
    <div class="vitals-left grid-2-1"></div>
    <div class="grid-2-2" style="padding: 5px;">
        <section class="sheet-body" >
          {{> "systems/ad6_robotech/templates/sheets/partials/character-section-items.hbs"}}
        </section>

    </div>
    <div class="vitals-right grid-2-3"></div>
  </div>

</div>
<div class="grid-1-2">
  <div class="third-left-small">  
    <div style="padding-left: 25px; padding-top: 52px"><input  type="radio" name="system.rollType" value="advantage" {{checked (eq system.rollType  "advantage")}} /></div>
    <div style="padding-left: 25px; padding-top: 4px "><input type="radio" name="system.rollType" value="edge" {{checked (eq system.rollType  "edge")}} /></div>
    <div style="padding-left: 25px; padding-top: 4px "><input type="radio" name="system.rollType" value="normal" {{checked (eq system.rollType  "normal")}} /></div>
    <div style="padding-left: 25px; padding-top: 4px "><input type="radio" name="system.rollType" value="hindrance" {{checked (eq system.rollType  "hindrance")}} /></div>
    <div style="padding-left: 25px; padding-top: 4px "><input type="radio" name="system.rollType" value="disadvantage" {{checked (eq system.rollType  "disadvantage")}} /></div>

    <!--<div>{{ system.rollType }}</div>-->
  </div>
</div>
  
</div>


</form>
</div>