<div class="gear-border gear-structure">
        <div class="gear-name gear-card item" style="display: grid; grid-template-columns:15px 254px 13px 13px" data-item-id="{{_id}}">
            <div style="padding-top: 7px;"><a class="item-delete"><i class="fas fa-trash faiconcolor fa-sm"></i></a></div>
                <div class="item" data-item-id="{{_id}}" data-field="name">
                    <input style="text-align: left;" class=" morwid invinput change" value="{{name}}"/>
                </div>
            <div style="padding-top: 7px;"><a class="item-description"><i class="fas fa-comment faiconcolor fa-sm"></i></a></div>
            <div style="padding-top: 7px;"><a class="item-edit"><i class="fas fa-regular fa-pen-to-square faiconcolor fa-sm"></i></a></div>
        </div>
        <div class="gear-init item" data-item-id="{{_id}}" data-field="system.range">
            <input style="text-align: center;" class=" uffwid invinput change" value="{{system.range}}"/>
        </div>
        <div class="gear-mid item" data-item-id="{{_id}}" data-field="system.ext">
            <input style="text-align: center;" class=" tinwid invinput change" value="{{system.ext}}"/>
        </div>
        <div class="gear-mid item" data-item-id="{{_id}}" data-field="system.damage">
            <input style="text-align: center;" class=" tinwid invinput change" value="{{system.damage}}"/>
        </div>
        <div class="gear-mid item" data-item-id="{{_id}}" data-field="system.pen">
            <input style="text-align: center;" class=" tinwid invinput change" value="{{system.pen}}"/>
        </div>
        <div class="gear-end item" data-item-id="{{_id}}" data-field="system.aoe">
            <input style="text-align: center;" class=" tinwid invinput change" value="{{system.aoe}}"/>
        </div>
    </div>




