        <div class="vitals-header grid-header" style="padding-left: 110px;"><strong>{{localize "ad6_robotech.sheetText.vitals"}}</strong></div>
        <div class="vitals-left grid-2-1"></div>
        <div class="vitals-lieutenant grid-2-2">
          <div class="vitals-interior">
            <div class="grid-1-1" style="padding-top: 12px; padding-left: 15px;" >{{localize "ad6_robotech.sheetText.name"}}</div>
            <div class="grid-2-1"  style="padding-top: 8px; padding-left: 15px;">{{localize "ad6_robotech.sheetText.career"}}</div>
            <div class="grid-3-1"  style="padding-top: 8px; padding-left: 15px;">{{localize "ad6_robotech.sheetText.race"}}</div>
            <div class="grid-4-1"  style="padding-top: 8px; padding-left: 15px;"></div>
            <div class="grid-5-1" style="padding-top: 8px; padding-left: 15px;"></div>
            <div class="grid-6-1" style="padding-top: 12px; padding-left: 15px;"></div>

            <div class="grid-1-2" style="padding-top: 8px; padding-left: 5px;"><h4 class='charname'><input name='name' type='text' value='{{actor.name}}' placeholder='Name'/></h4></div>
            <div class="grid-2-2" style="padding-top: 3px; padding-left: 5px;"> 
              <select name="system.career"  class="midwid">
                  {{selectOptions config.careers selected = system.career  localize=true}}
              </select>     
            </div> 
            <div class="grid-3-2" style="padding-top: 3px; padding-left: 5px;">    
              <select name="system.race"  class="midwid">
                  {{selectOptions config.races selected = system.race  localize=true}}
              </select>  
            </div>
            <div class="grid-4-sp3-2" style="padding-top: 3px; padding-left: 5px;">    
              <textarea name="system.description" class="transinput midwid" style="height:100px">{{system.description}}</textarea>
            </div>
           
          </div>
        </div>
        <div class="vitals-right grid-2-3"></div>