            <div class="grid-1-1" style="padding-left:10px;">{{ localize "ad6_robotech.sheetText.drama1"}}</div>
            <div class="grid-2-1" style="padding-left:10px;">{{ localize "ad6_robotech.sheetText.drama2"}}</div>
            <div class="grid-3-1" style="padding-left:10px;">{{ localize "ad6_robotech.sheetText.drama3"}}</div>
            <div class="grid-1-2" style="padding-left:27px;"><input class="mlnwid transinput" name="system.drama.one" value="{{system.drama.one}}" data-dtype="String"/></div>
            <div class="grid-2-2" style="padding-left:27px;"><input class="mlnwid transinput" name="system.drama.two" value="{{system.drama.two}}" data-dtype="String"/></div>
            <div class="grid-3-2" style="padding-left:27px;"><input class="mlnwid transinput" name="system.drama.three" value="{{system.drama.three}}" data-dtype="String"/></div>
