<div class="gear-border skill-structure">
        <div class="skill-name skill-card item" style="display: grid; grid-template-columns:15px 155px 15px 15px " data-item-id="{{_id}}">
            <div><a class="item-delete"><i class="fas fa-trash faiconcolor"></i></a></div>
            <div><a class="item-edit">{{name}}</a></div>
            <div><a class="item-description"><i class="fas fa-comment faiconcolor"></i></a></div>
            <div><a class="core-check"><i class="fas fa-dice faiconcolor"></i></a></div>
        </div>
        <div class="skill-benefit">{{localize system.benefit}}</div>
        <div class="skill-cost" >{{system.cost}}</div>
        <div class="gear-end" >{{system.skill}}</div>
    </div>


