        
        <div class="prof-left item" data-item-id="{{_id}}" data-field="system.leftItem" style="display: block;">
            <div  data-item-id="{{_id}}" class="item" style="padding-top: 7px;  float:left;"><a class="item-delete"><i class="fas fa-trash faiconcolor fa-sm"></i></a></div>
            <div style="float:right;padding-top: 7px;" ><input  class="asdwid invinput change fnt" value="{{system.leftItem}}" data-dtype="String"/></div>
        </div>
            <div style="padding-top: 7px;" class="prof-right item" data-item-id="{{_id}}" data-field="system.rightItem" >
            <input class="growid invinput change fnt" value="{{system.rightItem}}" data-dtype="String"/></div>
