    <div class="prof-structure">
      <div class="grid-1-1 nature-header" style="padding-left: 95px;"><strong>{{ localize "ad6_robotech.sheetText.proficiencies" }}</strong></div>
      <div class="grid-2-1 prof-structure-inner">
        <div class="grid-1-1 prof-left" ><input class="growid transinput fnt" name="system.proficiency.one" value="{{system.proficiency.one}}" data-dtype="String"/></div>
        <div class="grid-1-2 prof-right"><input class="growid transinput fnt" name="system.proficiency.two" value="{{system.proficiency.two}}" data-dtype="String"/></div>
        <div class="grid-2-1 prof-left"><input class="growid transinput fnt" name="system.proficiency.three" value="{{system.proficiency.three}}" data-dtype="String"/></div>
        <div class="grid-2-2 prof-right"><input class="growid transinput fnt" name="system.proficiency.four" value="{{system.proficiency.four}}" data-dtype="String"/></div>
        <div class="grid-3-1 prof-left"><input class="growid transinput fnt" name="system.proficiency.five" value="{{system.proficiency.five}}" data-dtype="String"/></div>
        <div class="grid-3-2 prof-right"><input class="growid transinput fnt" name="system.proficiency.six" value="{{system.proficiency.six}}" data-dtype="String"/></div>
      </div>
    </div>