<div class="suite-border suite-structure">
        <div class="suite-name suite-card item" style="display: grid; grid-template-columns:15px 322px 15px 15px 15px" data-item-id="{{_id}}">
            <div><a class="item-delete"><i class="fas fa-trash faiconcolor"></i></a></div>
            <div><a class="item-edit">{{name}}</a></div>
            <div><a class="item-description"><i class="fas fa-comment faiconcolor"></i></a></div>
            <div><a class="item-refresh"><i class="fas fa-rotate-right faiconcolor"></i></a></div>
            <div><a class="core-check"><i class="fas fa-dice faiconcolor"></i></a></div>
        </div>
        <div class="gear-init" >{{system.skill}}</div>
        <div class="gear-mid" >{{system.max}}</div>
        <div class="gear-end" >{{system.value}}</div>
    </div>

