<div class="grid-1-1-sp8 wounds-header"style="padding-left: 95px;"><strong>{{localize "ad6_robotech.sheetText.wounds"}}</strong></div>
          <div class="grid-2-1 wounds-1-1" ><input class="smachk" type="checkbox" name="system.wnd1" {{checked system.wnd1}}/></div>
          <div class="grid-2-2 wounds-2-1" ><input class="smachk" type="checkbox" name="system.wnd2" {{checked system.wnd2}}/></div>
          <div class="grid-2-3 wounds-3-1" ><input class="smachk" type="checkbox" name="system.wnd3" {{checked system.wnd3}}/></div>
          <div class="grid-3-1 wounds-1-2" ><input class="smachk" type="checkbox" name="system.wnda1" {{checked system.wnda1}}/></div>
          <div class="grid-3-2 wounds-2-2" ><input class="smachk" type="checkbox" name="system.wnda2" {{checked system.wnda2}}/></div>
          <div class="grid-3-3 wounds-3-2" ><input class="smachk" type="checkbox" name="system.wnda3" {{checked system.wnda3}}/></div>
          <div class="grid-2-sp2-4 wounds-4"><input class="smachk" type="checkbox" name="system.wnd4" {{checked system.wnd4}}/></div>
          <div class="grid-2-sp2-5 wounds-5"><input class="smachk" type="checkbox" name="system.wnd5" {{checked system.wnd5}}/></div>
          <div class="grid-2-sp2-6 wounds-6"><input class="smachk" type="checkbox" name="system.wnd6" {{checked system.wnd6}}/></div>
          <div class="grid-2-7 wounds-7-1"><input class="smachk" type="checkbox" name="system.wnd7" {{checked system.wnd7}}/></div>
          <div class="grid-3-7 wounds-7-2"><input class="smachk" type="checkbox" name="system.wnda7" {{checked system.wnda7}}/></div>
          <div class="grid-2-sp2-8 wounds-right"></div>