<!--<div class="gear-border gear-structure">
    <div class="gear-name gear-card item" style="display: grid; grid-template-columns:15px 265px 15px" data-item-id="{{_id}}">
        <div><a class="item-delete"><i class="fas fa-trash faiconcolor"></i></a></div>
        <div><a class="item-edit">{{name}}</a></div>
        <div><a class="item-description"><i class="fas fa-comment faiconcolor"></i></a></div>
    </div>
    <div class="gear-init">{{localize system.range}}</div>
    <div class="gear-mid" >{{system.ext}}</div>
    <div class="gear-mid" >{{system.damage}}</div>
    <div class="gear-mid" >{{system.pen}}</div>
    <div class="gear-end" >{{system.aoe}}</div>
</div>-->
<div class="feature-structure">
    <div class="feature-row item" style="display: grid; grid-template-columns: 15px 190px 15px;" data-item-id="{{_id}}">
        <div><a class="item-delete"><i class="fas fa-trash faiconcolor"></i></a></div>
        <div><a class="item-edit">{{name}}</a></div>
        <div><a class="item-description"><i class="fas fa-comment faiconcolor"></i></a></div>
    </div>
</div>
