<div class="gear-border gear-structure">
        <div class="gear-name gear-card item" style="display: grid; grid-template-columns:15px 265px 15px" data-item-id="{{_id}}">
            <div><a class="item-delete"><i class="fas fa-trash faiconcolor"></i></a></div>
            <div><a class="item-edit">{{name}}</a></div>
            <div><a class="item-description"><i class="fas fa-comment faiconcolor"></i></a></div>
        </div>
        <div class="gear-init">{{localize system.range}}</div>
        <div class="gear-mid" >{{system.ext}}</div>
        <div class="gear-mid" >{{system.damage}}</div>
        <div class="gear-mid" >{{system.pen}}</div>
        <div class="gear-end" >{{system.aoe}}</div>
    </div>




    <!--<div class="gear-card item" data-item-id="{{_id}}">
        <a class="gear-edit">{{name}}</a>
        {{system.range}}--
        {{system.damage}}--
        {{system.tags}}--
        <a class="gear-delete"><i class="fas fa-trash"></i></a>
    </div>
    
    
        <td class="gear-name" style="height:30px; width=170px; padding: 0px;"> <div class="gear-card item" data-item-id="{{_id}}"><a class="gear-delete"><i class="fas fa-trash"></i></a>&nbsp; <a class="gear-edit">{{name}}</a></div></td>
        <td class="gear-init" style="height:45px; width=30px; padding: 0px;">{{system.range}}</td>
        <td class="gear-mid" style="height:40px; width=30px; padding: 0px;">{{system.ext}}</td>
        <td class="gear-mid" style="height:40px; width=30px; padding: 0px;">{{system.damage}}</td>
        <td class="gear-mid" style="height:40px; width=30px; padding: 0px;">{{system.pen}}</td>
        <td class="gear-end" style="height:40px; width=30px; padding: 0px;">{{system.aoe}}</td>
    
    
    
    width: 120px;
            overflow: auto;
    
        <tr>
        <td colspan="7" style="height:3px; padding: 0px;"></td>
    </tr>
    -->

