    <div class="prof-structure">
      <div class="grid-1-1 nature-header" style="padding-left: 95px;"><strong>{{ localize "ad6_robotech.sheetText.elements" }}</strong></div>
      <div class="grid-2-1 prof-structure-inner">
        <div class="grid-1-1 prof-left" ><input class="growid transinput fnt" name="system.element.one" value="{{system.element.one}}" data-dtype="String"/></div>
        <div class="grid-1-2 prof-right"><input class="growid transinput fnt" name="system.element.two" value="{{system.element.two}}" data-dtype="String"/></div>
        <div class="grid-2-1 prof-left"><input class="growid transinput fnt" name="system.element.three" value="{{system.element.three}}" data-dtype="String"/></div>
        <div class="grid-2-2 prof-right"><input class="growid transinput fnt" name="system.element.four" value="{{system.element.four}}" data-dtype="String"/></div>
        <div class="grid-3-1 prof-left"><input class="growid transinput fnt" name="system.element.five" value="{{system.element.five}}" data-dtype="String"/></div>
        <div class="grid-3-2 prof-right"><input class="growid transinput fnt" name="system.element.six" value="{{system.element.six}}" data-dtype="String"/></div>
      </div>
    </div>