<div class="tab config" data-group="primary" data-tab="config">
                <div class="skill-item-conf-structure">
                    <div class="grid-1-1">{{ localize "ad6_robotech.sheetText.name"}}</div><div class="grid-1-2"><input class="megwid transinput" name="system.intname" value="{{system.intname}}" data-dtype="String"/></div>
                    <div class="grid-2-1">{{ localize "ad6_robotech.sheetText.description"}}</div><div class="grid-2-2"><input class="megwid transinput" name="system.intdesc" value="{{system.intdesc}}" data-dtype="String"/></div>
                    <div class="grid-3-1">{{ localize "ad6_robotech.sheetText.custom1"}}</div><div class="grid-3-2"><input class="megwid transinput" name="system.intcad1" value="{{system.intcad1}}" data-dtype="String"/></div>
                    <div class="grid-4-1">{{ localize "ad6_robotech.sheetText.custom2"}}</div><div class="grid-4-2"><input class="megwid transinput" name="system.intcad2" value="{{system.intcad2}}" data-dtype="String"/></div>
                    <div class="grid-5-1" ></div>
                    <div class="sheet-header grid-5-2">
                        <img width="100px" class='profile-img' src='{{item.img}}' data-edit='img' title='{{item.name}}'/>
                    </div>

                </div>
            </div>