<div class="suite-border suite-structure-vehicle">
        <div class="grid-1-1 gear-name suite-card item" style="display: grid; grid-template-columns:15px 235px 15px 15px 15px" data-item-id="{{_id}}">
            <div><a class="item-delete"><i class="fas fa-trash faiconcolor"></i></a></div>
            <div><a class="item-edit">{{name}}</a></div>
            <div><a class="item-description"><i class="fas fa-comment faiconcolor"></i></a></div>
            <div><a class="item-refresh"><i class="fas fa-rotate-right faiconcolor"></i></a></div>
            <div><a class="core-check"><i class="fas fa-dice faiconcolor"></i></a></div>
        </div>
        <div class="grid-1-2 gear-init">{{localize system.range}}</div>
        <div class="grid-1-3 gear-mid" >{{system.ext}}</div>
        <div class="grid-1-4 gear-mid" >{{system.damage}}</div>
        <div class="grid-1-5 gear-mid" >{{system.pen}}</div>
        <div class="grid-1-6 gear-end" >{{system.aoe}}</div>        
        <div class="grid-1-7 gear-init" >{{system.skill}}</div>
        <div class="grid-1-8 gear-mid" >{{system.max}}</div>
        <div class="grid-1-9 gear-end" >{{system.value}}</div>
    </div>

