<div class="suite-border suite-structure-vehicle">
        <div class="grid-1-1 gear-name suite-card item" style="display: grid; grid-template-columns:15px 220px 15px 15px 15px 15px" data-item-id="{{_id}}">
            <div><a class="item-delete"><i class="fas fa-trash faiconcolor"></i></a></div>
            <div data-item-id="{{_id}}" data-field="name" class="item">
                <input style="text-align: left;" class=" morwid invinput change" value="{{name}}"/>
                
                </div>
            <div><a class="item-description"><i class="fas fa-comment faiconcolor fa-sm"></i></a></div>
            <div style="padding-top: 7px;"><a class="item-edit"><i class="fas fa-regular fa-pen-to-square faiconcolor fa-sm"></i></a></div>
            <div><a class="item-refresh"><i class="fas fa-rotate-right faiconcolor fa-sm"></i></a></div>
            <!--<div><a class="core-check"><i class="fas fa-dice faiconcolor fa-sm"></i></a></div>-->
            <div  data-item-id="{{_id}}" style="align-items: left;">
                <input style="margin-left:0px;" class="smachk stack" type="checkbox" {{checked system.stack}}/>
            </div>
        </div>
        <div class="grid-1-2 gear-init item" data-item-id="{{_id}}" data-field="system.range">
             <input style="text-align: center;" class=" uffwid invinput change" value="{{system.range}}"/>
            </div>
        <div class="grid-1-3 gear-mid item" data-item-id="{{_id}}" data-field="system.ext">
             <input style="text-align: center;" class=" tinwid invinput change" value="{{system.ext}}"/>
            </div>
        <div class="grid-1-4 gear-mid item" data-item-id="{{_id}}" data-field="system.damage" >
            <input style="text-align: center;" class=" tinwid invinput change blur" value="{{system.damage}}"/>
            </div>
        <div class="grid-1-5 gear-mid item" data-item-id="{{_id}}" data-field="system.pen" >
             <input style="text-align: center;" class=" tinwid invinput change" value="{{system.pen}}"/>
            </div>
        <div class="grid-1-6 gear-end item" data-item-id="{{_id}}" data-field="system.aoe" >
             <input style="text-align: center;" class=" uffwid invinput change" value="{{system.aoe}}"/>
            </div>        
        <div class="grid-1-7 gear-init item" data-item-id="{{_id}}" data-field="system.skill" >
             <input style="text-align: center;" class=" uffwid invinput change" value="{{system.skill}}"/>
            </div>
        <div class="grid-1-8 gear-mid item"  data-item-id="{{_id}}" data-field="system.max">
             <input style="text-align: center;" class=" tinwid invinput change" value="{{system.max}}"/>
            </div>
        <div class="grid-1-9 gear-end item" data-item-id="{{_id}}" data-field="system.value" >
            <!-- <input style="text-align: center;" class=" uffwid invinput change" value="{{system.value}}"/>-->

            <div style="float:left">
                <input style="text-align: center;" class=" tinwid invinput change" value="{{system.value}}"/>
            </div>
            <div style="float:right"><a class="infinity" ><i class="fas fa-infinity faiconcolor fa-2xs"></i></a></div>
            
            </div>
    </div>

